body {
  display: flex;
  flex-direction: column;

}

.main_table {
  background: rgba(237, 120, 25, 0.9);
  color:white;
  text-align: center;
  width: 70%;
  height: 300px;
}

.tableTwo{
  background: rgba(210, 242, 15, 0.5);
  color:black;
  text-align: center;
  width: 70%;
  height: 300px;
}

.button_color{
  border-color: orange;
  background: rgb(152, 66, 200);
  cursor: pointer;
}

.popup_employes {
  position: absolute;
  margin: auto;
  /* display: flex; */
  width: 100vw;
  height: 100vh;
  background: white;
}

.popup_adress {
  position: absolute;
  margin: auto;
  display: flex;
  width: 90vw;
  height: 90vh;

}

.popup {
  position: relative;
  padding: 5px;
  height: 50px;
  display: flex;
  margin: auto;
  background: yellow;
}
